*.iml
.gradle
app/bin/
app/release/
app/debug/
common/bin
*.project
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/misc.xml
.idea/*
gradle/*
/gradlew
/gradlew.bat
.DS_Store
output.json
*.apk
image
LICENSE